table{
    border:1px solid;    
}
table th, table td{
    padding:5px;
    vertical-align: middle;
    text-align: center;
    border:1px solid; 
}
table td>*{
    padding:0px 2px;
}
.countButtons{
    padding: 0px 5px;
    margin: 0px 1px;
}